@import 'src/app/shared/variables';

div {
  display: flex;
  left: 0;
  bottom: 0;
  justify-content: center;
  width: 100vw;
  background-color: $baby-blue;
  margin: 0;
  ul {
    padding-right: 2%;
    padding-left: 0;
    padding-top: 10px;
    li {
      display: inline-block;
      margin-right: 30px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
