@import 'src/app/shared/variables';

.background {
  background-color: $independence;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: $languid-lavender;
  width: 50vw;
  min-height: 20vh;
}
img {
  border-radius: 60px;
  margin-top: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  text-align: center;
}
