<div class="full-screen background">
  <div class="center">
    <div class="card">
      <div class="column">
        <img src="../../assets/tom-writing.png" alt="place-holder" height="100" width="100" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at cursus sem. Donec nec iaculis purus, sit amet consequat augue. Ut
          ullamcorper, risus id ullamcorper molestie, tortor augue bibendum magna, non ultrices velit massa faucibus urna. Ut eleifend ipsum lacus,
          vel volutpat quam faucibus ac. Aenean nec ante ut ligula interdum malesuada vel quis risus. Integer scelerisque sodales sem quis dictum.
          Maecenas aliquet, nibh at luctus dictum, ex quam pellentesque ante, nec faucibus lacus eros non metus. Phasellus laoreet turpis quis leo
          pretium condimentum. Aliquam molestie sed magna sit amet volutpat. Integer est lacus, commodo eu sollicitudin sit amet, aliquam molestie
          lacus. Sed egestas luctus nulla, vel elementum mauris feugiat et. Nulla facilisi. Fusce molestie nulla eros, id feugiat nulla mattis non.
          Fusce gravida, metus vel venenatis mollis, libero dolor venenatis lectus, ut lobortis magna risus at tellus. Nulla porttitor molestie augue,
          in fringilla sem finibus efficitur. Proin ornare arcu ut tellus tempus, vitae consectetur purus fermentum. Nunc maximus rutrum mi, in
          condimentum augue fermentum sed. Integer sit amet mattis turpis. Nulla commodo sed libero sed ullamcorper. Suspendisse a ligula lacus.
          Vivamus ultrices, magna eget fringilla aliquam, mi est ultricies magna, id ultricies orci dui sit amet tortor. Nulla facilisi. Vivamus eu
          tellus ac risus sollicitudin vehicula ut in risus. Proin aliquam efficitur justo. Nunc ornare purus nec mi tempor volutpat. Nam ut quam ex.
          In consectetur nunc in velit bibendum, id ultricies augue consectetur. Proin commodo aliquet viverra. Vestibulum vitae mi sapien. Aenean
          malesuada tortor sed nunc malesuada posuere. Integer laoreet fermentum ante sed varius. Donec accumsan ligula vulputate, pulvinar massa sed,
          sagittis mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse rhoncus turpis id
          felis commodo, commodo sodales mauris ornare. Praesent at justo vel est dictum sollicitudin. Vestibulum in ex lorem. Etiam et massa sit amet
          dolor scelerisque elementum. Nunc a nunc dignissim, eleifend nibh in, semper felis. Duis sodales ut justo ac consequat. Nulla a fermentum
          sem. Proin eget sem accumsan turpis ultrices semper id quis magna. Cras non odio nibh. Donec viverra condimentum cursus. Vivamus pulvinar
          non metus nec eleifend. In accumsan lorem quam, quis hendrerit tellus consectetur a. Etiam sit amet enim eget elit posuere ullamcorper.
          Quisque aliquet, tellus ut eleifend faucibus, mi risus fermentum lorem, eu blandit arcu lectus id sem. Nunc vel erat id nisl gravida
          facilisis eu vitae turpis. Vivamus tellus augue, euismod nec maximus eu, pulvinar eget nunc. Cras rhoncus aliquam nunc nec consectetur.
          Morbi non sodales diam, et cursus leo. Nam blandit justo et justo convallis, eu gravida ex porta. Nam ornare enim felis, et tincidunt dolor
          tincidunt ornare.
        </p>
      </div>
    </div>
  </div>
</div>
