<div class="full-screen background">
  <div class="center">
    <div class="card column">
      <h1>Esports</h1>
      <p>I have been fortune to enjoy various roles within Esports. My first role was player managing in the Blizzard game: Heroes of the Storm</p>
      <img src="../../assets/tracer.jpg" alt="" height="400" width="200" />
      <p>
        This culminated in being flown out to Irvine California for the Heroes of the Storm player summit. Where all the teams who had qualified for
        the Heroes Global Championship gathered to discuss the league, improvements and of course the team had to do photo shoots:
      </p>
      <img src="../../assets/lfm-photoshoot.jpg" alt="LFM Esports photo shoot" height="200" width="400" />
      <p>It wouldn't be an esports trip without some KBBQ</p>
    </div>
  </div>
</div>
