@import 'src/app/shared/variables';

.background {
  background-color: $independence;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: $languid-lavender;
  width: 50vw;
  min-height: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

ul {
  padding-right: 2%;
  padding-left: 0;
  padding-top: 10px;
  li {
    display: inline-block;
    margin-right: 30px;
    a {
      text-decoration: none;
      color: #ff6700;
    }
  }
}
