// https://coolors.co/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff
$baby-blue: #a2d2ff;
$uranian-blue: #bde0fe;
$pink-lavender: #cdb4db;
$orchid-pink: #ffc8dd;
$nadeshiko-pink: #ffafcc;

// https://coolors.co/e07a5f-f2cc8f-3d405b-d5c9df-7f96ff
$terrra-cotta: #e07a5f;
$deep-champagne: #f2cc8f;
$independence: #3d405b;
$languid-lavender: #d5c9df;
$cornflower-blue: #7f96ff;
