<nav>
  <ul>
    <li class="nav-item">
      <a id="about" routerLink="." fragment="about" routerLinkActive="active"
        >About</a
      >
    </li>

    <li class="nav-item">
      <a id="contact" routerLink="." fragment="contact">Contact</a>
    </li>

    <li class="nav-item">
      <a id="home" routerLink="." fragment="home" routerLinkActive="active"
        >Home</a
      >
    </li>

    <li class="nav-item">
      <a id="skills" routerLink="." fragment="skills">Skills</a>
    </li>
    <li class="nav-item">
      <a id="writing" routerLink="." fragment="writing">Writing</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
