<div class="full-screen background">
  <div class="center">
    <div class="card">
      <img src="../../assets/tom-gaming.png" height="100" width="100" alt="icon" class="profile-picture" />
      <div class="column">
        <p>I'm Tom. A self taught frontend developer. I love learning and am always striving to learn new technologies</p>
        <div class="icons">
          <a href="https://twitter.com/HaldunIsTaken">
            <img class="icons" src="../../assets/twitter.png" alt="twitter icon" height="25" width="25" />
          </a>
          <a href="https://www.linkedin.com/in/tom-cockram-231327180/">
            <img class="icons" src="../../assets/linkedin.png" alt="linkedin" height="25" width="25" />
          </a>
          <a href="https://tomcockram.contently.com/">
            <img class="icons" src="../../assets/pen.png" height="25" width="25" alt="pen icon" />
          </a>
          <a href="https://github.com/TomCockram">
            <img class="icons" src="../../assets/github.png" alt="github icon" height="25" width="25" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
