<div class="full-height">
  <div class="center"><p>Coming soon...</p></div>
  <div class="center"><p>But we can still connect</p></div>

  <div class="center">
    <ul class="socials">
      <li>
        <a href="https://twitter.com/HaldunIsTaken">Twitter</a>
      </li>
      <li>
        <a href="https://github.com/TomCockram">Github</a>
      </li>
      <li>
        <a href="https://tomcockram.contently.com/">Writing Portfolio</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/tom-cockram-231327180/">Linkedin</a>
      </li>
    </ul>
  </div>
</div>
