.full-height {
  height: 100vh;
  background-color: #fdfd96 !important;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-x-y {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

p {
  font-size: 72px;
}

.socials {
  display: flex;
}

ul {
  list-style: none;
  padding-left: 0px;
  li {
    a {
      text-decoration: none;
      color: black;
    }
  }
}
